extends layout

block content
  h1= title
  form#validateUser(name="validateuser",method="post",action="/validateuser")
    input#inputUserName(type="text", placeholder="username", name="username")
    input#inputUserUbid(type="text", placeholder="ubid", name="ubid")
    button#btnSubmit(type="submit") submit
